/** todo css via https://codepen.io/shshaw/pen/WXMdwE 😻 */
.todo {
  display: inline-block;
  position: relative;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  padding-right: 5px;

  width: 100%;
}
.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 100%;
  margin: auto;
  fill: none;
  stroke: #27fdc7;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  z-index: 1;
}

.todo__state:checked ~ .todo-list-title {
  text-decoration: line-through;
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}
.todo__check {
  stroke: #27fdc7;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.25s;
}

.todo__state:checked ~ .todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  stroke: red;
}

.todo__state:checked ~ .todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0s;
}
